body {
  background-image: url('../img/fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.carrito-container {
    padding: 2rem;
  }
  
  .producto-carrito {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  