.home-container {
    text-align: center;
    padding: 50px;
    background-color: #f4f4f4;
}

.home-container h1 {
    font-size: 2.5rem;
    color: #333;
}

.home-container p {
    font-size: 1.2rem;
    color: #666;
}

