body {
  background-image: url('../img/fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.login-container {
  background-color: rgba(0, 0, 0, 0.481); /* Gris oscuro semi-transparente */
  color: white;
  width: 200%;
  max-width: 700px;
  margin: 80px auto;
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  text-align: center;

  
}

.login-container h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* sans-serif */
  font-size: 25px; /* tamaño más pequeño */
  font-weight: bold; /* negrilla */
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  color: white;
}

form, fieldset {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}


input {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: black;
  color: white;
  font-size: 14px;
  outline: none;
}

input::placeholder {
  color: #ccc;
}

.btn {
  background-color: #007bff;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.mensaje-ok, .mensaje-error {
  margin-top: 10px;
  font-size: 13px;
}

.mensaje-ok {
  color: #4caf50;
}

.mensaje-error {
  color: #f44336;
}
