body {
  margin: 0;
  font-family: 'Playfair Display', serif; /* Una fuente serif elegante */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8; /* Un fondo gris muy claro y suave */
  color: #333; /* Color de texto principal oscuro */
  line-height: 1.7; /* Un poco más de espacio entre líneas para elegancia */
}